/* Notes below regarding the purpose of each setting is true to the best of my knowledge. */

:root {
	--overlay: #26233a;
	--text: #e0def4;
	--foam: #9ccfd8;
	--gold: #f6c177;
	--muted: #6e6a86;
}

#input {
	margin: 10px; /* how much padding there is around the input box */
	border: none; /* border around the input box */
	background-color: var(--muted); /* background color of the text input box itself */
        color: var(--text); /* text color as you type inside the input box */
}

#inner-box {
	margin: 2px;
	border: none; /* horizontal bar that appears above the search results */
	background-color: var(--overlay); /* background color behind the search results */
        color: var(--text); /* text color of each search result */
}

#outer-box {
	/* margin: 5px; /* margin between the outer edges of the main window and its contents inside */ */
	border: none /* border around all the internal window components */
	background-color: var(--overlay); /* background color of entire inner window */

}

#text {
	margin: 5px;
	border: none; /* border around each individual item within the search results */
	background-color: trans; /* background behind each individual item within the search results */
        color: var(--text);
	font-weight: bold;
}

#entry:selected {
    background-color: #9ccfd8;
    color: #191724;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #9ccfd8;
    color: #191724;
    border-radius: 0px;;
    outline: none;
}

/* Remove the search icon */
/* #input > image.left { */
/*         -gtk-icon-transform:scaleX(0); */
/* } */

#scroll {
	/* margin: 5px; */
	border: 2px solid var(--overlay);
	background-color: var(--overlay);  /* background color behind the search slider */
}

window {
	margin: 15px;
	border: 2px solid #f6c177; /* border around the entire window */
	background-color: var(--overlay);
}
